<table>
	<tr>
		<th>タイトル</th>
		<th>ステータス</th>
		<th></th>
	</tr>
<% @genres.each do |genre|%>
<tr>
<td><%= genre.title %></td>
<td><%= genre.status_i18n %></td>
<td><%= link_to "編集", edit_user_genre_path(genre.user,genre) ,class: "btn btn-default btn-lg" %></td>
</tr>
<% end %>
</table>


<%= form_with model: [@user,@genre],url: user_genres_path,method: :post ,local: true do |form| %>
<%= form.text_field :title %>
  <%= form.radio_button :status, :true %>有効
  <%= form.radio_button :status, :false %>無効
  <%= form.submit %>
<% end %>
