<div class ="genre">
	<div class ="genre-box">

<div class= "genre-form">

<%= form_with model: [@user,@genre],url: user_genres_path,method: :post ,local: true do |form| %>
<%= form.text_field :title, class: "form-control", placeholder: "タグ名を入力してください" %>
  <%= form.radio_button :status, :true %><span class = "genre-text">有効</span>
  <%= form.radio_button :status, :false %><span class = "genre-text">無効</span>
  <%= form.submit "作成する",class:"btn btn-success btn-lg" %></span>
<% end %>
</div>


<table>
  <tr><th>タグ名</th><th>ステータス</th><th></th><th></th></tr>
  <% @genres.each do |genre|%>
  <tr><td><%= genre.title %></td><td><%= genre.status_i18n %></td><td><%= link_to "編集", edit_user_genre_path(genre.user,genre) ,class: "btn btn-success" %></td><td><%= link_to "削除", user_genre_path(genre.user,genre) ,class: "btn btn-danger", method: :delete, data: { confirm: "このタグを削除して大丈夫ですか?" } %></td></tr>
  <% end %>
</table>

</div>
</div>

