       <div class= "lists-contents">
    <div class ="list-form">

    <%= form_with model: @list, url: { action: :update }, html: { class: 'listForm' }, local: true do |f| %>
      <br>
      <span><%= f.label :リスト名 %></span>
      <p><%= f.text_field :title, class: "form-control",style:"width:500px;" %></p>
      <% if @list.errors.include?(:title) %>
         <p style="color: red;"><%= @list.errors.full_messages_for(:title).first %></p>
      <% end %>
      <span><%= f.label :タグ名 %></span>
           <p><%= f.collection_select :genre_id,@genre,:id, :title, {include_blank: "選択してください"}, {class: 'list-tag'} %></p>
      <% if @list.errors.include?(:genre_id) %>
            <p style="color: red;"><%= @list.errors.full_messages_for(:genre_id).first %>
      <% end %>
      <%= f.submit "編集する",class:"btn-list btn-success btn-lg"%>
    <% end %>
      </div>
        </div>

  <script src="assets/bubbly-bg.js"></script>
<script>bubbly({
  blur:1,
  colorStart: '#FFFFFF',
  colorStop: '#112144',
  radiusFunc:() => 5 + Math.random() * 20,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 5,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:300
});</script>
