<div class = "quick-menu">
<button id="js-show-popup" class = "btn btn-primary btn-lg">リストクイック作成</button>
<button id="js-show-popup2" class = "btn btn-info btn-lg">ジャンルクイック作成</button>
</div>
<div class="topPage">
  <div class="listWrapper">
    <% @lists.each do |list| %>
      <div class="list">
        <div class="list_header">
          <h2 class="list_header_title"><%= list.title %></h2>
          <!-- リストにジャンルが紐づいているか確認 -->
          <% if list.genre.present? %>
          <h4>関連タグ:<%= list.genre.title %></h4>
          <% end %>

          <div class="list_header_action">
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: { confirm: "#{list.title}を削除します。よろしいですか？" } %>
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list)) %>
          </div>
        </div>

        <div class="cardWrapper" id="sortable_list">
          <% list.cards.each do |card| %>

            <%# ==========ここから編集する========== %>
            <%= link_to list_card_path(list, card), class:"cardDetail_link" do %>
              <div class="card" id="sortable_list">
                <h3 class="card_title" id="sortable_list"><%= card.title %></h3>
                <% if card.memo.size > 0 %>
                  <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
                <% end %>
              </div>
            <% end %>
            <%# ==========ここまで編集する========== %>
          <% end %>

          <div class="addCard">
            <i class="far fa-plus-square"></i>
            <%= link_to "さらにカードを追加", new_list_card_path(list), class: "addCard_link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <%=render "lists/list_mordal",list: @list,genre: @genres %>
  <%=render "genres/genre_mordal",genre: @genre %>
<script>
function popupImage() {
  var popup = document.getElementById('js-popup');
  if(!popup) return;

  var blackBg = document.getElementById('js-black-bg');

  var blackBg = document.getElementById('js-black-bg');
  var closeBtn = document.getElementById('js-close-btn');
  var showBtn = document.getElementById('js-show-popup');

  closePopUp(blackBg);
  closePopUp(closeBtn);
  closePopUp(showBtn);
  function closePopUp(elem) {
    if(!elem) return;
    elem.addEventListener('click', function() {
      popup.classList.toggle('is-show');
    });
  }
}
popupImage();
</script>

<script>
function popupImage() {
  var popup = document.getElementById('js-popup2');
  if(!popup) return;

  var blackBg = document.getElementById('js-black-bg2');

  var blackBg = document.getElementById('js-black-bg2');
  var closeBtn = document.getElementById('js-close-btn2');
  var showBtn = document.getElementById('js-show-popup2');

  closePopUp(blackBg);
  closePopUp(closeBtn);
  closePopUp(showBtn);
  function closePopUp(elem) {
    if(!elem) return;
    elem.addEventListener('click', function() {
      popup.classList.toggle('is-show');
    });
  }
}
popupImage();
</script>
