        <div class = "contact-contents">
     <div class ="contact-form">

  <%= form_for @message, :url => contact_done_path do |f| %>
      <h2>お問合わせ内容確認</h2>
      <br>
      <div class ="contact-list">
        <span><label>名前</label></span>
        <div class ="contact-list-message" >
          <%= f.hidden_field :name %>
          <%= @message.name %>
        </div>
      </div>

      <div class ="contact-list">
        <span><label>メールアドレス</label></span>
        <div class ="contact-list-message">
          <%= f.hidden_field :email %>
          <%= @message.email %>
        </div>
      </div>

      <div class ="contact-list">
        <span><label>お問い合わせ内容</label></span>
       <div class ="contact-list-message">
          <%= f.hidden_field :content %>
          <%= @message.content%>
        </div>
      </div>
      <br>

      <div>
        <%= f.submit '戻る', name: 'back' ,class:"btn btn-danger btn-lg"%>
        <%= f.submit '送信する',class:"btn btn-success btn-lg"%>
      </div>
  <% end %>
     </div>
         </div>

  <script src="assets/bubbly-bg.js"></script>
<script>bubbly({
  blur:1,
  colorStart: '#FFFFFF',
  colorStop: '#112144',
  radiusFunc:() => 5 + Math.random() * 20,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 5,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:300
});</script>
