<div class="signup-entry-form" >
  <div class="entry-form-contents">

    <div class= "signup-left-side-contents">
      <p class="signup-p">Let's sign up!!<br>
Have notes every day!!</p>
</div>

  <div class= "right-side-contents">
<div class = "form-contents">
  <h1>無料登録</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :性%><br />
<%= f.text_field :family_name, autocomplete: "family_name", size: "50x10",class:"form-control", :placeholder => "苗字を入力してください"  %>
</div>
<br>
<div class="field">
    <%= f.label :名 %><br />
<%= f.text_field :first_name, autocomplete: "first_name", size: "50x10",class:"form-control", :placeholder => "名前を入力してください" %>
</div>
<br>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x10",class:"form-control", :placeholder => "メールアドレスを入力してください"  %>
  </div>
<br>
  <div class="field">
    <%= f.label :パスワード%>
    <%= f.password_field :password, autocomplete: "new-password", size: "50x10",class:"form-control" , :placeholder => "パスワードを6文字以上で入力してください" %>
  </div>
<br>
  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "50x10",class:"form-control", :placeholder => "確認のため再度パスワードを入力してください" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "無料登録する",class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<div>
<%= link_to user_facebook_omniauth_authorize_path do %>
<img src = "/assets/facebook.png" class = "facebook-login" >
<% end %>
</div>

  </div>
</div>
  </div>
</div>
