    <div class ="user-wrapper">
<div class = "user-editcontents-box">

    <%= form_with model: @user, url: { action: :update }, html: {}, local: true do |f| %>
    <div class = "user-contents">


        <p><%= attachment_image_tag @user,:image,size:"250x250" ,fallback: "no_image.png"%></p>
       <%= f.attachment_field :image ,id: "item_image" %>
   </div>

<div class = "user-contents">
    <label>お名前(性)</label>
    <p><%= f.text_field :family_name, autofocus: true, class: " input-mysize"%></p>
    <% if @user.errors.include?(:family_name) %>
       <p style="color: red;"><%= @user.errors.full_messages_for(:family_name).first %>
     <% end %>
</div>

<div class = "user-contents">
        <label>お名前(名)</label>
        <p><%= f.text_field :first_name, autofocus: true, class: " input-mysize"%></p>
        <% if @user.errors.include?(:first_name) %>
       <p style="color: red;"><%= @user.errors.full_messages_for(:first_name).first %>
     <% end %>
    </div>

    <div class = "user-contents">
        <label>イントロダクション</label>
        <p><%= f.text_area :introduction, autofocus: true, class: " input-mysize"%></p>
    </div>

    <div class = "user-contents">
    <%= f.submit "編集する",class:"btn btn-success btn-lg" %>
    </div>

    <% end %>
</div>
    </div>
<script>
$(function(){
    $('#item_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
}
reader.readAsDataURL(e.target.files[0]);
});
});
</script>

