	<div class ="user-wrapper">
<div class = "user-contents-box">
	<div class = "user-contents">
<label>プロフィール画像</label>
<p><%= attachment_image_tag @user, :image, :fill, 250, 250 %></p>
</div>
<div class = "user-contents">
<label>お名前(性)</label>
<p><%= @user.family_name%></p>
</div>
<div class = "user-contents">
<label>お名前(名)</label>
<p><%= @user.first_name%></p>
</div>
<div class = "user-contents">
<label>イントロダクション</label>
<p><%= @user.introduction%></p>
</div>
<div class = "user-contents">
<%=link_to "編集する", edit_user_path(@user),class:"btn btn-success btn-lg"%>
</div>
</div>
	</div>
	<script src="assets/bubbly-bg.js"></script>
<script>bubbly({
  blur:1,
  colorStart: '#FFFFFF',
  colorStop: '#112144',
  radiusFunc:() => 5 + Math.random() * 20,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 5,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:300
});</script>
