               <div class="login-form" >
          <div class="login-form-contents">
      <div class= "login-leftside-contents">
          <p class="login-text">Let's log in!!<br>
          Have notes every day!!</p>
      </div>
          <div class= "login-right-side-contents">
       <div class = "form-contents">
          <h1>ログイン</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
      <div class="field">
        <%= f.label :メールアドレス,style:"padding-left:50px;"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x10",class:"form-control", :placeholder => "メールアドレスを入力してください",style:"margin-left:47px;"%>
    </div>
<br>
    <div class="field">
      <%= f.label :パスワード,style:"padding-left:50px;"%><br />
      <%= f.password_field :password, autocomplete: "current-password", size: "50x10",class:"form-control", :placeholder => "パスワードを6文字以上で入力してください",style:"margin-left:47px;"  %>
  </div>
<br>
  <% if devise_mapping.rememberable? %>
      <div style = "padding-left:47px;">
        <%= f.check_box :remember_me %>
        <%= f.label :ログイン情報を保持する %>
      </div>
  <% end %>
  <div class="actions">
     <%= f.submit "ログインする",class:"btn-form btn-lg btn-primary" %>
  </div>
 <% end %>
 <h4 class ="sns-login">SNSアカウントでログイン</h4>
<div>
<%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do%>
      <%= image_tag  "google.png",class:"snslogin-icon" %>
<% end %>
<%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
<%= image_tag "facebook.png", class:"snslogin-icon-facebook" %>
  <% end %>
   　</div>
        </div>
            </div>
                </div>
                    </div>



