
                <div class="popup" id="js-popup3">
        <div class="popup-inner">
    <div class="close-btn" id="js-close-btn3"><i class="fas fa-times"></i></div>

<%= form_with model: [card],url: list_cards_path,method: :post ,local: true do |form| %>
<span><%= f.label :カード名 %></span>
<p><%= f.text_field :title, autofocus: true, class: "form-control",style:"width:500px;"%></p>
<% if card.errors.include?(:title) %>
<p style="color: red;"><%= card.errors.full_messages_for(:title).first %></p>
<% end %>

<span><%= f.label :メモ詳細 %></span>
<p><%= f.text_area :memo, autofocus: true, class: "form-control",style:"width:500px;"%></p>
<br>
<span><label>リスト名</label></span>
<%= f.select :list_id, List.statuses.keys.map {|k| [I18n.t("enums.list.status.#{k}"), k]}, include_blank: "選択して下さい"%>
   <br>
  <%= f.submit "編集する",class:"btn-card btn-success btn-lg" %>
<% end %>

  </div>
  　　<div class="black-background" id="js-black-bg3"></div>
　　　　</div>
