<div class= "cards-contents">
   <div class ="card-form-edit">
    <%= form_with model: @card, url: { action: :update }, html: { class: 'cardnewForm' }, local: true do |f| %>
        <span><%= f.label :タイトル %></span>
        <p><%= f.text_field :title, autofocus: true, class: "form-control"%></p>
        <span><%= f.label :メモ %></span>
        <p><%= f.text_area :memo, autofocus: true, class: "form-control"%></p>
        <br>
        <span><label>リスト名</label></span>
        <p><%= select :card, :list_id, @lists.map{ |l| [l.title, l.id] }, {}, { class: 'form-control' } %><p>
    <%= f.submit "編集する",class:"btn-card btn-success btn-lg" %>
    <% end %>
    </div>
</div>





