<div class = "cards-contents">
<div class ="card-form-show">
    <h2>カード詳細</h2>
    <br>
    <div class ="card-list-show">
        <span><label>タイトル</label></span>
        <p><%= @card.title %></p>
      </div>

<div class ="card-list-show">
        <span><label>メモ</label></span>
        <p><%= @card.memo %></p>
      </div>
    <div class ="card-list-show">
        <span><label>リスト名</label></span>
      <p><%= @card.list.title %></p>
    </div>
       <br>
      <div>
        <%= link_to '編集する', edit_list_card_path(@card.list, @card), class:"btn-card btn-success btn-lg"%>
        <%= link_to '削除をする', list_card_path(@card.list, @card), class:"btn-card btn-danger btn-lg", method: :delete, data: { confirm: "このカードを削除して大丈夫ですか?" } %>
      </div>
</div>
</div>