<!DOCTYPE html>
<html>
  <head>
    <title>ThinkFrog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' , 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<header>
      <nav>
                <div class = header-logo>
          <i class="fas fa-frog "></i>
        <strong><p class ="logo-name">ThinkFrog</p></strong>
                </div>
        <% if user_signed_in? %>
            <%= render 'layouts/after_login'%>
        <% else %>
            <%= render 'layouts/before_login'%>
        <% end %>
      </nav>
</header>
    <%= yield %>

  <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>');
        <% end %>
      </script>
    <% end %>
<!-- フッタhtml -->
  <footer>
      <p class = "footer_copyright">© 2020 Yoichi Hashimoto. All Rights Reserved.</p>
     <div class = "icons">
      <%= link_to "https://github.com/yoichi3223/Think_Flog" do %>
         <i class="fab fa-github fa-lg github"></i>
      <% end %>
        <!-- <i class="fab fa-facebook-square fa-lg fb"></i>
        <i class="fab fa-twitter fa-lg twitter"></i> -->
     </div>
 </footer>
 <div id = "privacy-panel">
 <p>当サイトのテストアカウントは下記となります。お気軽にご利用ください.
メールアドレス:test01@test.com パスワード:test01</p>
<button id = "agreebtn">閉じる</button>
</div>

<script src="../../javascripts/js.cookie.js"></script>
<script>
'use strict';

const agree = Cookies.get('cookie-agree');
const panel = document.getElementById('privacy-panel');
if(agree === 'yes') {
    document.body.removeChild(panel);
} else {
    document.getElementById('agreebtn').onclick = function() {
        Cookies.set('cookie-agree', 'yes', {expires: 7});
        document.body.removeChild(panel);
    };
}
</script>
    </body>
      </html>
